@use "../../../scss/abstracts/variables" as variable;
@use "../../../scss/abstracts/mixins" as mixin;

.quiz-page {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 6rem;
  @include mixin.respond(tab) {
    padding: 0 3rem;
  }
  @include mixin.respond(phone) {
    padding: 0 1.5rem;
  }
}

.quiz__main {
  // max-width: 100%;
  // height: 70rem;
  background-color: variable.$background-form;
  margin-bottom: 2rem;
  position: relative;
}

.quiz__footer {
  display: flex;
  justify-content: flex-end;
}

.audio__wrapper {
  width: 66%;
  margin-top: 2rem;
}
