@use "../../../../../scss/abstracts/variables" as variable;
@use "../../../../../scss/abstracts/mixins" as mixin;

.quiz-part {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 6rem 2rem;

  @include mixin.respond(tab-land) {
    flex-direction: column;
    padding: 0 4rem;
  }
  @include mixin.respond(tab-port) {
    padding: 0 3rem;
  }
  @include mixin.respond(big-phone) {
    padding: 0 2rem;
  }

  &__left {
    width: 41%;
    height: 100%;
    padding-top: 4rem;
    @include mixin.respond(tab-land) {
      width: 100%;
      padding-top: 1rem;
    }
  }

  &__right {
    flex: 0 0 auto;
    width: 56%;
    padding-top: 4rem;
    justify-content: space-between;
    @include mixin.respond(tab-land) {
      width: 100%;
      padding-top: 2rem;
    }
  }
}

.title {
  margin-bottom: 2rem;
  @include mixin.respond(tab-land) {
    text-align: center;
  }
  @include mixin.respond(big-phone) {
    margin-bottom: 1rem;
  }
}

.description {
  margin-bottom: 2rem;
  @include mixin.respond(tab-land) {
    text-align: center;
  }
  @include mixin.respond(tab) {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.audioplayer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15.4rem;
  background: variable.$violet-light;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  @include mixin.respond(big-phone) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
  }
}

.button-bg {
  position: relative;
  width: 11rem;
  height: 11rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  border-radius: 5px;
  outline: none;

  &__main {
    background: linear-gradient(
      148.42deg,
      #ec1919 -0.53%,
      #d1c234 28.02%,
      #d134a5 60.47%,
      #3734d1 90.32%,
      #23b632 124.06%
    );
  }
}

.question {
  padding: 0 2rem;
  height: 7rem;
  border: 0.1rem solid variable.$violet-light;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
    border: 0.1rem solid variable.$white-color;
    background-color: variable.$violet-light;
  }

  &:hover &__check {
    border: 0.1rem solid variable.$white-color;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__check {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid variable.$violet-light;
    border-radius: 50%;
    margin: 0 2rem;
  }

  &__text {
    font-size: 1.4rem;
    color: variable.$white-color;
    font-weight: 400;
    opacity: 0.7;
    @include mixin.respond(big-phone) {
      font-size: 1rem;
    }
    @include mixin.respond(phone) {
      font-size: 0.8rem;
    }
  }

  &__error,
  &__error:hover {
    border: 1px solid variable.$red-light;
    background-color: variable.$red-color;

    .question__check {
      border: 1px solid variable.$red-light;
      background-image: url("../../../../../assets/error.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__correct,
  &__correct:hover {
    border: 1px solid variable.$green-light;
    background-color: variable.$green-color;

    .question__check {
      border: 1px solid variable.$green-light;
      background-image: url("../../../../../assets/correct.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.image__wrapper {
  height: 60rem;
  width: 100%;
  @include mixin.respond(tab-land) {
    display: none;
  }

  img {
    position: absolute;
    display: block;
    width: 60rem;

    right: -9rem;
    bottom: -7rem;
    transform: translate(-15%, -15%);
  }
}
