<div class="quiz-part">
  <div class="quiz-part__left">
    <h2 class="title">{{ currentGenre.genre | titlecase }} song</h2>
    <p class="description">
      Listen to the audio and guess what song is it from the list
    </p>

    <div class="audioplayer">
      <div
        class="button-bg"
        *ngIf="scoreService.getIsCorrectAnswerSelected(); else linearGradient"
        [ngStyle]="{
          'background-image': scoreService.getIsCorrectAnswerSelected()
            ? 'url(' + ROOT_URL + correctSong.image + ')'
            : 'none'
        }"
      >
        <app-audio-player-button></app-audio-player-button>
      </div>
      <ng-template #linearGradient
        ><div class="button-bg button-bg__main">
          <app-audio-player-button></app-audio-player-button></div
      ></ng-template>

      <app-audio-player-progress
        [correctSong]="correctSong"
        [songUrl]="correctSongSrc"
      ></app-audio-player-progress>
    </div>

    <div
      class="question"
      *ngFor="let song of currentGenre.data; let i = index"
      (click)="selectSong(song.id, i)"
      [ngClass]="{
        question__correct:
          clickedSongsIds.includes(song.id) && song.id === correctSong.id,
        question__error: clickedSongsIds.includes(song.id)
      }"
    >
      <div class="question__container">
        <div class="question__check"></div>
        <p class="question__text">
          {{ "0" + (i + 1) + " : " + song.name + " - " + song.songTitle }}
        </p>
      </div>
    </div>
  </div>

  <div class="quiz-part__right">
    <app-song-part
      *ngIf="currentGenre.data[checkedSongIndex]; else unionImg"
      [currentGenre]="currentGenre.data[checkedSongIndex]"
      [checkedSongUrl]="checkedSongUrl"
    ></app-song-part>

    <ng-template #unionImg>
      <div class="image__wrapper">
        <img src="../../../../../assets/union.png" alt="quiz-image" />
      </div>
    </ng-template>
  </div>
</div>
