@use "../../../../../scss/abstracts/variables" as variable;

.quiz-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quiz-part__left {
  width: 40%;
  height: 100%;
  padding-left: 6rem;
}

.quiz-part__right {
  width: 58%;
  padding-right: 6rem;
}

.audioplayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 46rem;
  height: 15.4rem;
  background: variable.$violet-light;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.question {
  width: 46rem;
  padding: 0 2rem;
  height: 7rem;
  border: 0.1rem solid variable.$violet-light;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
    border: 0.1rem solid variable.$white-color;
    background-color: variable.$violet-light;
  }

  &:hover &__check {
    border: 0.1rem solid variable.$white-color;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__check {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid variable.$violet-light;
    border-radius: 50%;
    margin: 0 2rem;
  }

  &__text {
    font-size: 1.4rem;
    color: variable.$white-color;
    font-weight: 400;
    opacity: 0.7;
  }
}

.error,
.error:hover {
  border: 1px solid variable.$red-light;
  background-color: variable.$red-color;

  .question__check {
    border: 1px solid variable.$red-light;
    background-image: url("../../../../../assets/error.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.correct,
.correct:hover {
  border: 1px solid variable.$green-light;
  background-color: variable.$green-color;

  .question__check {
    border: 1px solid variable.$green-light;
    background-image: url("../../../../../assets/correct.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.image__wrapper {
  position: relative;

  img {
    width: 100%;
    position: absolute;
    right: -6rem;
    top: 1rem;
    object-fit: cover;
  }
}
