*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  overflow: auto;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include respond(big-desktop) {
    width: 80%;
  }
  // @include respond(tab-land) {
  //   width: 100rem;
  // }
  // @include respond(tab-port) {
  //   width: 76rem;
  // }
  // @include respond(big-phone) {
  //   width: 45rem;
  // }
  // @include respond(phone) {
  //   width: 31rem;
  // }
}
