@use "../abstracts/variables" as variable;

h2 {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  line-height: 4.5rem;
  color: variable.$white-color;
}

.title {
}

.description {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 400;
  color: variable.$white-color;
  opacity: 0.7;
}
