@use '../../../scss/abstracts/variables' as variable;
@use '../../../scss/abstracts/mixins' as mixin;

.start-form {
  width: 110rem;
  background: variable.$background-form;
  z-index: 2;
  padding: 9rem 18.5rem;
  border-radius: 1rem;
  text-align: center;
  @include mixin.absCenter;

  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 9rem;
  }

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 150%;
    color: variable.$grey-color;
    text-transform: uppercase;
    color: variable.$white-color;
    width: 73rem;
    height: 5.5rem;
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: 1px solid variable.$violet;
    outline: 1px solid transparent;
    margin-bottom: 2rem;
    transition: border-color ease-in-out 0.3s;

    &::placeholder {
      color: variable.$white-color;
      opacity: 0.5;
    }

    &:hover {
      border-bottom: 1px solid grey;
    }

    &:focus {
      border-bottom: 1px solid variable.$white-color;
      font-weight: 700;
      opacity: 1;
    }
  }
}

.start-logo {
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}
