@use "../../../../../scss/abstracts/variables" as variable;
@use "../../../../../scss/abstracts/mixins" as mixin;

.button-wrapper {
  @include mixin.absCenter;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;

  &:hover .audioplayer__button {
    transform: scale(1.2);
    opacity: 1;
  }
}

.audioplayer__button {
  background: variable.$white-color;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  opacity: 0.7;
  cursor: pointer;
  transition: all ease-out 0.3s;
  border: none;
}

.icon {
  transform: translate(5%, 5%);
  position: relative;
  color: variable.$violet-light;
  width: 1.6rem;
  height: 1.6rem;
}
