@use "../../../../../scss/abstracts/variables" as variable;
@use "../../../../../scss/abstracts/mixins" as mixin;

:host {
  width: 70%;

  @include mixin.respond(tab-land) {
    width: 85%;
  }
}

.audio-progress {
  background: rgba(27, 29, 49, 0.9);
  height: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  -webkit-appearance: none;
  margin-top: 2rem;
  width: 100%;
  // &::-webkit-slider-runnable-track {
  //     -webkit-appearance: none;
  //     background: linear-gradient(270deg, #7E55B3 0%, #A769C4 100.02%);
  //     height: 0.6rem;
  //     border-radius: 5px;
  //     }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: variable.$white-color;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.audio-time {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-weight: 400;

  &__current,
  &__total {
    font-size: 1.2rem;
    line-height: 150%;
    opacity: 0.7;
  }
}
