<div class="audio__wrapper">
  <audio
    #audioItem
    class="audio-item"
    controls
    [src]="songUrl"
    style="display: none"
    (loadedmetadata)="audioService.setAudio(audioItem)"
    (timeupdate)="audioService.updateCurrentTime(audioItem)"
    (timeupdate)="audioService.updateTimeRange(audioItem)"
    (ended)="audioService.endSong()"
  ></audio>

  <div class="progress__wrapper">
    <input
      #audioInput
      type="range"
      name="audio"
      id="#audio"
      class="audio-progress"
      value="{{ audioService.percent }}"
      (change)="audioService.updateTimeRange(audioItem)"
      [ngStyle]="{ background: audioService.updateTimeRange(audioItem) }"
      min="0"
      max="100"
      step="1"
    />

    <div class="audio-time">
      <div class="audio-time__current">{{ audioService.currentDuration }}</div>
      <div class="audio-time__total">{{ audioService.totalDuration }}</div>
    </div>
  </div>
</div>
