<div class="song__container">
  <div class="song__title">
    <h2 class="song__title-content">
      {{ currentGenre.name }} - {{ currentGenre.songTitle }}
    </h2>
  </div>
  <div class="song__image">
    <img
      src="https://levi9-song-quiz.herokuapp.com/api/{{ currentGenre.image }}"
      alt="singer"
      class="song__image-content"
    />
  </div>

  <div class="song__audio">
    <audio
      class="song__audio-content"
      controls
      src="https://levi9-song-quiz.herokuapp.com/api/{{ currentGenre.audio }}"
    ></audio>
  </div>

  <!-- <div class="audioplayer__right">
    <app-audio-player-button></app-audio-player-button>
    <app-audio-player-progress></app-audio-player-progress>
  </div> -->

  <div class="song__description">
    <p class="song__description-content">{{ currentGenre.description }}</p>
  </div>
</div>
