<div class="song__container">
  <div class="song__title">
    <h2 class="song__title-content">
      {{ currentGenre.name }} - {{ currentGenre.songTitle }}
    </h2>
  </div>
  <div class="song__image">
    <img
      src="https://levi9-song-quiz.herokuapp.com/api/{{ currentGenre.image }}"
      alt="singer"
      class="song__image-content"
    />
  </div>

  <div class="audioplayer">
    <div class="song__audio">
      <div class="play-btn-wrap">
        <app-audio-player-button></app-audio-player-button>
      </div>
      <div class="play-progress-wrap">
        <app-audio-player-progress></app-audio-player-progress>
      </div>
    </div>
    <!-- <div class="song__audio">
    <audio
    #audioItemDescription
      class="song__audio-content"
      controls
      src="https://levi9-song-quiz.herokuapp.com/api/{{ currentGenre.audio }}"
      (loadeddata)="audioService.setAudio(audioItemDescription)"
    (timeupdate)="audioService.updateCurrentTime()"
    (timeupdate)="audioService.updateTimeRange()"
    (ended)="audioService.pauseAudio()"
    ></audio>
  </div> -->
  </div>

  <div class="song__description">
    <p class="song__description-content">{{ currentGenre.description }}</p>
  </div>
</div>
